<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moashare.dao.MemberDAO">
    <select id="getMemberByEmail" parameterType="String" resultType="MemberDTO">
    	select id, pw, name,nickname, tel, auth, join_dt
    	from member
    	where id=#{emailId}
    </select>
    <select id="getMemberByNickname" parameterType="String" resultType="MemberDTO">
    	select id, pw, name,nickname,tel, auth, join_dt
    	from member
    	where nickname=#{nickname}
    </select>
    <insert id="insertOne" parameterType="MemberDTO">
    	 insert into member
         values (#{id}, #{pw},#{name}, #{nickname},#{tel}, default, default)
    </insert>
</mapper>