<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="../css/register.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/register.js"></script>
</head>	
<body>
	<div class="wrapper" id="div1">
		<div class="registerTitle">
			<h1 style="font-size: 30px;">회원가입</h1>
		</div>
		<form th:action="@{/register}" method="post">
			<div id="registerInfo">
				<div id="div2" class="pad">
					<label>이메일*</label> <input type="text" name="email1" id="email1"
						placeholder="이메일" />&nbsp;<span id="middle">@</span>&nbsp;<input type="text" name="email2"
						id="email2" placeholder="이메일도메인" /> <select name="selectEmail"
						id="selectEmail">
						<option value="1" selected>직접입력</option>
						<option value="naver.com">naver.com</option>
						<option value="daum.net">daum.net</option>
						<option value="gmail.com">gmail.com</option>
						<option value="nate.com">nate.com</option>
						<option value="yahoo.co.kr">yahoo.co.kr</option>
						<option value="korea.com">korea.com</option>
						<option value="hotmail.com">hotmail.com</option>
					</select> <input type="button" id="btnemailck" class="btn" value="중복확인" />
					<div id="emailError" class="error"></div>
					<input type="hidden" name="email" id="id" value=""/>
					<span th:text="${valid_email}" class="error" style="color: red"></span>
				</div>
				<div id="div3" class="pad">
					<label>본인인증*</label> <input type="button" id="btnemailverifty"
						class="btn" value="인증코드 받기" /> <input type="text"
						name="codeInput" id="codeInput" placeholder="본인인증 코드 입력" /> <input
						type="button" id="btncodeck" class="btn" value="인증코드 확인" /> <input
						type="text" id="codeConfirm" name="codeConfirm"
						style="display: none" value="">
					<div id="verificationError" class="error"></div>
				</div>
				<div id="div4" class="pad">
					<label>닉네임*</label> <input type="text" name="nickname"
						id="usernickname" placeholder="특수문자 없이 2~10자리"/> <input type="button"
						id="btnnicknameck" class="btn" value="중복확인" />
					<div id="nicknameError" class="error"></div>
					<span th:text="${valid_nickname}" class="error" style="color: red"></span>
				</div>
				<div id="div5" class="pad">
					<label>비밀번호*</label> <input type="password" class="sameInput"
						name="password" id="userpw" placeholder="6~15자 영문,숫자,특수문자 1개 이상 필수" />
					<span th:text="${valid_password}" class="error" style="color: red"></span>
				</div>
				<div id="div6" class="pad">
					<label>비밀번호 확인*</label> <input type="password" class="sameInput"
						name="repassword" id="userrepw" placeholder="비밀번호 확인" />
				</div>
				<div id="div7"
					style="clear: both; padding-top: 10px; box-sizing: border-box;">
					<input type="submit" id="btnfinck" class="btn" value="회원가입" />
				</div>
				<div style="text-align: center;">
		            <a style="text-decoration: none;" th:href="@{/login}">로그인으로 돌아가기</a>
		        </div>
			</div>
		</form>
	</div>
</body>
</html>