<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/board.js"></script>
<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="container List-container">
					<div
						style="margin-top: 20px; margin-bottom: 50px; text-align: right">
						<button th:if="${notice.member.nickname}== ${nickname}"
							type="button" class="btn btn-danger delete-btn" id="deleteNotice">삭제</button>
						<button type="button" class="btn btn-success list-btn"
							onclick="history.back()">뒤로가기</button>
					</div>
					<div class="row mt-1 header">
						<input type="hidden" id="memberId" th:value="${notice.member.id}" /> <input
							type="hidden" id="id" name="noticeNo" th:value="${notice.id}" />
						<h5 class="col-1 board-title">제목</h5>
						<p class="col-8" style="word-break: break-all;"
							th:text="${notice.ntitle}"></p>
					</div>
					<div class="row mt-1 header">
						<h5 class="col-1 board-writer">관리자</h5>
						<p class="col-8" style="word-break: break-all;"
							th:text="관리자"></p>
					</div>
					<div class="row mt-1 header">
						<h5 class="col-1 board-title">작성일</h5>
						<p class="col-8" style="word-break: break-all;"
							th:text="${#dates.format(notice.reg_dt, 'yyyy-MM-dd HH:mm')}"></p>
					</div>
					<div class="board-container"
						style="border-top-color: black; border-top: solid;">
						<div class="content"
							style="word-break: break-all; margin-top: 30px;"
							th:utext="${notice.ncontent}"></div>
					</div>
					<hr>
					
					<br />
				</div>
			</div>
		</div>
		</div>
		<!-- /.container-fluid -->
</th:block>
</html>