<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">

<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">공지사항</h1>
		</div>
		 <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">공지사항</h6>
                        </div>
                        <div class="card-body">
                        
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>제목</th>
                                            <th>작성날짜</th>
                                        </tr>
                                    </thead>
                                    <th:block th:each="notice : ${noticeList}">
                                    <tbody>
                                        <tr>
                                            <td style="width: 80%;"><a th:href="@{/notice/{noticeId}(noticeId=${notice.id})}"
												style="text-decoration-line: none; color: #13855c;"
												th:text="${notice.ntitle}"></a></td>
                                            <td th:text="${#dates.format(notice.reg_dt, 'yy.MM.dd HH:mm')}"></td>
                                        </tr>                            
                                    </tbody>
									</th:block>
                                </table>
                            </div>

                        </div>
                    </div>
	</div>
	<!-- /.container-fluid -->
</th:block>
</html>