<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">
<!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home}">
			<div class="sidebar-brand-text mx-3">
				<img src="/img/MOASHARE.png" alt="logo" width="180px">
			</div>
		</a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>홈</span></a>
            </li>
         <!--    <li class="nav-item active">
                <a class="nav-link" th:href="@{/notice}">
                    <i class="fas fa-fw fa-clipboard"></i>
                    <span>공지사항</span></a>
            </li>

            Heading -->


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/board}">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>프로젝트 모집</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/bookmark}">
                    <i class="fas fa-fw fa-star"></i>
                    <span>북마크</span></a>
            </li>
        </ul>
    <!-- End of Sidebar -->

</th:block>

</html>