<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">
<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">프로젝트 모집</h1>
		</div>
		<div class=" align-items-center justify-content-between mb-4">
			<button class="btn btn-success btn-icon-split"
				th:onclick="|location.href='@{board/writeForm}'|"
				style="padding-right: 0px;">
				<span class="text">새 글 작성</span>
			</button>
			<form
				class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
				th:action="@{/board}" method="get">
				<div class="input-group">
					<input type="text" class="form-control bg-gray-0 border-0 small"
						placeholder="검색" aria-label="Search"
						aria-describedby="basic-addon2" name="searchKeyWord" >
					<div class="input-group-append">
						<button class="btn btn-success" type="submit">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>

				</div>
			</form>

		</div>

		<div class="d-sm-flex align-items-center justify-content-between mb-3"
			style="margin-top: 40px;">
			<h6 class="h6 mb-0 text-gray-600" style="margin-left: 5px;">인기순</h6>
		</div>
		<div class="row">

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4" style="height: 190px;">
				<div class="card shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="h3 font-weight-bold text-success text-uppercase mb-1">
									Earnings (Monthly)</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
							</div>
							<!-- 							<div class="col-auto">
								<i class="fas fa-star fa-1x text-gray-300"></i>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-sm-flex align-items-center justify-content-between mb-3"
			style="margin-top: 40px;">
			<h6 class="h6 mb-0 text-gray-600" style="margin-left: 5px;">전체
				프로젝트</h6>
		</div>
		<div class="row" style="height: 660px;">

			<!-- Earnings (Monthly) Card Example -->
			<th:block th:each="board, boardStat: ${board}">
				<div class="col-xl-3 col-md-6 mb-4" style="height: 190px;"
					th:if="${boardStat.index < 16}">
					<div class="card shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items">
								<div class="col mr-2">
									<div class="h4 mb-0 font-weight-bold text-success mb-1"
										style="overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 100%; height: 110px;">
										<a th:href="@{/}"
											style="text-decoration-line: none; color: #1cc88a"
											th:text="${board.title}"></a>
									</div>
									<div class="h6 mb-0 font-weight-bold text-gray-800"
										th:text="'조회수 ' + ${board.hits} + '회'"></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-star fa-1x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		<!-- 		<div class="col-sm-12 col-md-7">
			<div class="dataTables_paginate paging_simple_numbers" 
				id="dataTable_paginate">
				<!-- 페이징 처리 시작 -->
		<!-- 				<ul class="pagination justify-content-center">
					<!-- Previous 시작 -->
		<!-- 						<li
						class="paginate_button page-item previous disabled"
						id="dataTable_previous"><a
						href="/"
						aria-controls="dataTable" data-dt-idx="0" tabindex="0"
						class="page-link">Previous</a></li>
					<!-- Previous 끝 -->
		<!-- Page번호 시작, 컨트롤러에서 list에 페이징 객체를 넣었으므로 list.변수명으로 불러옴 -->
		<!-- 					<th:forEach>
						<li
							class="paginate_button page-item"><a
							href="/" aria-controls="dataTable"
							data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
					</th:forEach>
					<!-- Page번호 끝 -->
		<!-- Next 시작 -->
		<!-- 					<li
						class="paginate_button page-item next"
						id="dataTable_next"><a
						href="?page=${board.number+1}"
						aria-controls="dataTable" data-dt-idx="7" tabindex="0"
						class="page-link">Next</a></li>
					<!-- Next 끝 -->
		<!-- 페이징 처리 끝 -->
		<!-- 				</ul>
			</div>
		</div> -->
		<div>
			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
				<a th:if="${page != nowPage}"
					th:href="@{/board(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}"
					th:text="${page}"></a>
				<strong th:if="${page == nowPage}" th:text="${page}"
					style="color: red"></strong>
			</th:block>
		</div>
	</div>
</th:block>
</html>