<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">
<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">북마크</h1>
		</div>	
		<div class="d-sm-flex align-items-center justify-content-between mb-3"
			style="margin-top: 40px;">
			<h6 class="h6 mb-0 text-gray-600" style="margin-left: 5px;"> 
				프로젝트</h6>
		</div>
		<div class="row">
			<!-- Earnings (Monthly) Card Example -->
			<th:block th:each="board, boardStat: ${boardList}">
				<div class="col-xl-3 col-md-6 mb-4" style="height: 190px;"
					th:if="${boardStat.index < 12}">
					<div class="card shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items">
								<div class="col mr-2">
									<div class="h4 mb-0 font-weight-bold text-success mb-1"
										style="overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 100%; height: 110px;">
										<a th:href="@{/board/{boardId}(boardId=${board.id})}"
											style="text-decoration-line: none; color: #1cc88a"
											th:text="${board.title}"></a>
									</div>
									<div class="h6 mb-0 font-weight-bold text-gray-800"
										th:text="'조회수 ' + ${board.hits} + '회'"></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-star fa-1x text-gray-300"
										style="cursor: pointer;"
										th:onclick="|location.href='@{/board/{boardId}(boardId=${board.id})}/bookmark'|"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		<div th:if="${!boardList.isEmpty()}">
			<ul style="justify-content: center;" class="pagination"
				th:with="
            pageNumber = ${boardList.pageable.pageNumber},
            pageSize = ${boardList.pageable.pageSize},
            totalPages = ${boardList.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

				<li th:classappend="${boardList.first} ? 'disabled'"
					class="page-item"><a class="page-link"
					th:href="${boardList.first} ? '#' : @{/board(page=${pageNumber - 1})}">
						<span aria-hidden="true">&lt;</span>
				</a></li>
				<li th:each="page: ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${page == pageNumber + 1} ? 'active'"
					class="page-item"><a th:text="${page}" class="page-link"
					th:href="@{/board(page=${page - 1})}"></a></li>
				<li th:classappend="${boardList.last} ? 'disabled'"
					class="page-item"><a class="page-link"
					th:href="${boardList.last} ? '#' : @{/board(page=${pageNumber + 1})}"
					aria-label="Next"> <span aria-hidden="true">&gt;</span>
				</a></li>
			</ul>
		</div>
	</div>
</th:block>
</html>