<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/board.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<link 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" rel="stylesheet"/>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css"
	rel="stylesheet"/>
<script
	src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<!-- include libraries(jQuery, bootstrap) -->
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="container" role="main">
			<div style="margin-top: 60px; margin-bottom: 20px;"><h2>MOASHARE</h2></div>
			<div style="margin-bottom: 40px;"><h5>작성 글 작성</h5></div>
			<form name="form" id="form" role="form" method="post">
				<div class="mb-3">
					<label for="title">제목</label> <input type="text"
						class="form-control" name="title" id="title"
						th:value="${board.title}">

				</div>
				<div class="mb-3">
					<label for="content">내용</label>
					<textarea class="form-control summernote" rows="20" name="content"
						id="content" th:utext="${board.content}"></textarea>

				</div>
				<input type="hidden" id="id" name="brdno" th:value="${board.id}"/>
			</form>
			<div>
				<button type="button" class="btn btn-sm btn-success" id="btnUpdate"
					name="btnUpdate">수정완료</button>
			</div>
		</div>
	</div>
	<script>
		$('.summernote').summernote({
			tabsize : 2,
			height : 500
		});
	</script>

</html>